<p id="notice"><%= notice %></p>

<h2>Your Toggles</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toggle_lists.each do |toggle_list| %>
      <tr>
        <td><%= link_to toggle_list.title, toggle_list %></td>
        <td><%= toggle_list.description %></td>
        
        <td><%= link_to 'Edit', edit_toggle_list_path(toggle_list) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toggle List', new_toggle_list_path %>
