<p id="notice"><%= notice %></p>

<h1>Toggle Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toggle_lists.each do |toggle_list| %>
      <tr>
        <td><%= toggle_list.title %></td>
        <td><%= toggle_list.description %></td>
        <td><%= link_to 'Show', toggle_list %></td>
        <td><%= link_to 'Edit', edit_toggle_list_path(toggle_list) %></td>
        <td><%= link_to 'Destroy', toggle_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toggle List', new_toggle_list_path %>
