<p id="notice"><%= notice %></p>

<p>
  <h2>You Pushed The Button!</h2>
</p>

<p>
  <strong>Here are more buttons for you to push!</strong>  
</p>

<div id="toggle_items_wrapper">
  <button type="button" class="btn btn-amber"><p><h4><%= link_to "Push Here" %></h4></p></button>
  <button type="button" class="btn btn-amethyst"><p><h4><%= link_to "Push Here" %></h4></p></button>
  <button type="button" class="btn btn-emerald"><p><h4><%= link_to "Push Here" %></h4></p></button>
  <button type="button" class="btn btn-citrine"><p><h4><%= link_to "Push Here" %></h4></p></button>
  <button type="button" class="btn btn-ruby"><p><h4><%= link_to "Push Here" %></h4></p></button>
  <button type="button" class="btn btn-sapphire"><p><h4><%= link_to "Push Here" %></h4></p></button>
</div>



<%= link_to 'Back', toggle_lists_path %>
