<p id="notice"><%= notice %></p>

<p>
  <h2><%= link_to @toggle_list.title, edit_toggle_list_path(@toggle_list) %></h2>
</p>

<p>
  <strong><%= @toggle_list.description %></strong>  
</p>

<div id="toggle_items_wrapper">
  <%= render @toggle_list.toggle_items %>
  <div id="form">
    <%= render "toggle_items/form" %>
  </div>
</div>



<%= link_to 'Back', toggle_lists_path %>
